#{$all-buttons} {
  appearance: none;
  background-color: $color-primary;
  border: 0;
  color: $color-light;
  cursor: pointer;
  display: inline-block;
  font-family: $primary-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($color-primary, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $color-primary;
    }
  }
}