fieldset {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
	font-wieght: 600;
	margin-bottom: $small-spacing;
	padding: 0;
}

label {
	display: block;
	font-weight: 600;
	margin-bottom: $small-spacing;
}

input,
select {
	display: block;
	font-family: $primary-font-family;
	font-size: $base-font-size;
}

#{$all-text-inputs},
select[multiple] {
	border: $base-border;
	box-sizing: border-box;
	font-family: $primary-font-family;
	font-size: $base-font-size;
	margin-bottom: $small-spacing;
	padding: $small-spacing;
	width: 100%;

	&:hover {
		border: $base-border-dark;
	}

	&:focus {
	
	}

	&:disabled {
		cursor: not-allowed;
	}
}

textarea {
	resize: veritcal;
}

[type="search"] {
	appearance: none;
}

[type="checkbox"],
[type="radio"] {
	display: inline;
	margin-right: $small-spacing;
}

[type="file"] {
	margin-bottom: $small-spacing;
	width: 100%;
}

select {
	margin-bottom: $small-spacing;
	max-width: 100%;
	width: auto;
}

