@mixin list--blank() {
	list-style-type: none;
}

@mixin list--inline() {
	li {
		display: inline-block;
		margin-right: $small-spacing;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

ul, ol {
	margin: 0;
	padding: 0;
}

dl {
	margin-bottom: $small-spacing;

	dt {
		font-weight: 600;
		margin-top: $small-spacing;
	}

	dd {
		margin: 0;
	}
}