table {
	border-collapse: collapse;
	margin: $small-spacing;
	table-layout: fixed;
	width: 100%;
}

th {
	border-botttom: $base-border;
	font-weight: 600;
	padding: $small-spacing 0;
	text-align: left;
}

td {
	border-bottom: $base-border;
	padding: $small-spacing 0;
}

tr,
td,
th {
	vertical-align: middle;
}