body {
	color: $color-dark;
	font-family: $primary-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	line-height: calc($base-line-height * 0.8);
	margin: 0 0 $small-spacing;
}

p {
	margin: 0 0 $small-spacing;
}

a {
	color: $color-primary;
	text-decoration: none;

	&:active,
	&:focus,
	&:hover {
		border-bottom: 2px solid $color-primary;
	}
}

hr {
	border-bottom: 1px solid shade($color-light, 20%);
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $base-spacing 0;
}

img,
picture {
	margin: 0;
	max-width: 100%;
}