// Colors
$color-dark: #0A0908;
$color-light: #F2F4F3;
$color-primary: #399AE7;
$color-secondary: #DB5461;
$color-shade: shade($color-light, 2%);
$color-error: #FF9494;

// Typography
$primary-font-family: sans-serif;
$secondary-font-family: serif;
$base-font-size: 16px;
$base-line-height: 1.5;

// Sizes
$base-spacing: 1em;
$small-spacing: 0.5em;
$large-spacing: 1.5em;

// Border
$base-border: 1px solid shade($color-light, 20%);
$base-border-dark: 1px solid shade($color-light, 40%);