block header
	header
		.branding
			h1 Site title
			p site slogan...
		.navigation
			ul
				li: a(href="/") Home
				li: a(href="/register") Register
				li: a(href="/login") Login
				li: a(href="/chat") Chat