extends base

block vars
	- var title = 'Register'

block content

	if errors
		each e in errors
			p.alert.alert--error= e

	if success
		p.alert.alert-success= 'Registered successfully! We will get back to you as soon as possible.'
	else
		form(method="post")
			span Alias:
			input(type="text", name="alias", required=true, value=alias)
			span Email:
			input(type="email", name="email", required=true, value=email)
			span Password:
			input(type="password", name="password", required=true)
			span Confirm Password:
			input(type="password", name="passwordConfirm", required=true)
			span Tell us a little about you:
			textarea(name="information", cols="30", rows="10", require=true)
			input(type="submit")

	
		
