.alert {
	padding: $small-spacing;
	border: $base-border;
	background-color: $color-shade;
}

.alert--error {
	border: 1px solid shade($color-error, 10%);
	background-color: $color-error;
}

.alert--info {
	// TODO: implement .alert--info
}

.alert--warning {
	// TODO: implement .alert--warning
}

.alert--success {
	// TODO: implement .alert--success
}